/** Lameon Resturant website style sheet
    Created By : Irshad
    03-02-2017
**/

a,
a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    background: #fff !important;
    overflow-x: hidden;
}

h1 {
    font-family: 'Signika', sans-serif;
    font-weight: 600;
}


/*********** Header *************/

header {
    position: relative;
    box-shadow: 0px 7px 10px rgba(204, 204, 204, 0.45);
    z-index: 99999;
    background: #fff;
}

.nav_bar {
    position: relative;
}

.nav_bar .logo {
    width: 320px;
    float: left;
    margin-top: 15px;
    -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
}

.nav_bar .logo img {
    max-width: 100%;
}

.nav_bar .top_contact {
    position: absolute;
    top: 10px;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
}

.nav_bar .top_contact a span {
    font-size: 22px;
    margin-left: 15px;
    color: #525151;
}

.nav_bar .top_contact a span:hover {
    color: #e30c1c;
}

.nav_bar .top_contact a span i {
    padding-right: 10px;
    color: #e30c1c;
}

.nav_bar .main_nav {
    float: right;
    margin-top: 70px
    
}

.nav_bar .main_nav ul {
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
}

.nav_bar .main_nav ul  li{
    display: inline-block;
    font-size: 15px;
}
.nav_bar .main_nav ul  li a{
    color: #525151;
    transition-duration: 0.6s;
    padding: 10px 20px;
    display: block;
}
.nav_bar .main_nav ul  li a:hover {
    background: #d60000;
    transition-duration: 0.6s;
    color: #fff;
}

.nav_bar .main_nav ul li a.active {
    background: #d60000;
    color: #fff;
}


/******* Banner **********/

.banner {
   /* background: url('../images/slides-1-smarter-technology-solutions.jpg') center no-repeat;*/
    height: 594px;
}
.owl-controls{
    display: none;
}
#owl-carousel1{
    position: absolute;
    top: 111px;
}
#particles-js {
    background: none;
    position: absolute;
    z-index: 9;
    height: 540px;
}

#particles-js .caption {
    position: absolute;
    bottom: 55px;
    color: #fff;
}

#particles-js .caption h3 {
    font-size: 36px;
    /*color: #424242;*/
}

#particles-js .caption h1 {
    font-size: 46px;
    margin-top: 0;
   /* color: #d60000;*/
}

#particles-js .shapes {
    position: relative;
}

#particles-js .shapes img {
    max-width: 100%;
}

#particles-js .up_shape {
    position: absolute;
    top: 0;
    left: 0;
}

#particles-js .dwn_shape {
    position: absolute;
    top: -83px;
    left: 0;
}


/******* Who we are ******/

.who_we_are {
    padding: 80px 0px;
    background: rgba(192, 5, 5, 1);
    background: -moz-linear-gradient(-45deg, rgba(192, 5, 5, 1) 0%, rgba(192, 5, 5, 1) 50%, rgba(214, 0, 0, 1) 50%, rgba(214, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(192, 5, 5, 1)), color-stop(50%, rgba(192, 5, 5, 1)), color-stop(50%, rgba(214, 0, 0, 1)), color-stop(100%, rgba(214, 0, 0, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(192, 5, 5, 1) 0%, rgba(192, 5, 5, 1) 50%, rgba(214, 0, 0, 1) 50%, rgba(214, 0, 0, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(192, 5, 5, 1) 0%, rgba(192, 5, 5, 1) 50%, rgba(214, 0, 0, 1) 50%, rgba(214, 0, 0, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(192, 5, 5, 1) 0%, rgba(192, 5, 5, 1) 50%, rgba(214, 0, 0, 1) 50%, rgba(214, 0, 0, 1) 100%);
    background: linear-gradient(166deg, rgba(192, 5, 5, 1) 0%, rgba(192, 5, 5, 1) 50%, rgba(214, 0, 0, 1) 50%, rgba(214, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c00505', endColorstr='#d60000', GradientType=1);
    color: #fff;
}

.who_we_are .who_we {}

.who_we_are .who_we h1 {
    font-size: 28px;
    font-weight: 600;
}

.who_we_are .who_we p {
    line-height: 26px;
}

.who_we_are .who_we a {
    padding: 10px 25px;
    background: #fff;
    color: #c00505;
    display: inline-block;
    float: right;
}

.who_we_are .make_deffrents {}

.who_we_are .make_deffrents h1 {
    font-size: 20px;
    text-align: center;
}

.who_we_are .make_deffrents .icon_box {
    width: 100%;
    height: 163px;
    background: #fff;
    text-align: center;
    padding: 15px 10px;
}

.who_we_are .make_deffrents .icon_box h4 {
    color: #c00505;
    font-size: 14px;
}

.who_we_are .make_deffrents .icon_box img {
    max-width: 100%;
    margin-top: 15px;
}


/******* What we do *******/

.what_we_do {
    padding: 50px 0px;
    text-align: center;
    background: rgba(233, 233, 233, 1);
    background: -moz-linear-gradient(-45deg, rgba(233, 233, 233, 1) 0%, rgba(233, 233, 233, 1) 50%, rgba(227, 227, 227, 1) 50%, rgba(227, 227, 227, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(233, 233, 233, 1)), color-stop(50%, rgba(233, 233, 233, 1)), color-stop(50%, rgba(227, 227, 227, 1)), color-stop(100%, rgba(227, 227, 227, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(233, 233, 233, 1) 0%, rgba(233, 233, 233, 1) 50%, rgba(227, 227, 227, 1) 50%, rgba(227, 227, 227, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(233, 233, 233, 1) 0%, rgba(233, 233, 233, 1) 50%, rgba(227, 227, 227, 1) 50%, rgba(227, 227, 227, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(233, 233, 233, 1) 0%, rgba(233, 233, 233, 1) 50%, rgba(227, 227, 227, 1) 50%, rgba(227, 227, 227, 1) 100%);
    background: linear-gradient(-166deg, rgba(233, 233, 233, 1) 0%, rgba(233, 233, 233, 1) 50%, rgba(227, 227, 227, 1) 50%, rgba(227, 227, 227, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#e3e3e3', GradientType=1);
}

.what_we_do h1 {
    font-size: 28px;
    color: #525151;
}

.what_we_do p {}

.what_we_do .companies {
    width: 20%;
    float: left;
    margin-top: 30px;
}

.what_we_do .companies .what_bx {
    background: #fff;
    height: 200px;
    border-radius: 15px;
    padding-top: 45px;
    transition-duration: 0.6s;
}

.what_we_do .companies .what_bx:hover {
    box-shadow: 1px 1px 13px 4px rgba(204, 204, 204, 0.45);
    transition-duration: 0.6s;
}

.what_we_do .companies img {
    max-width: 100%;
}

.what_we_do .companies .what_bx h4 {
    font-size: 12px;
}


/********** Solutions **********/

.solutions {
    padding: 50px 0px;
    background: url('../images/slides-1-smarter-technology-solutions.jpg') center;
    background-attachment: fixed;
    /*background: rgba(36, 36, 36, 1);
    background: -moz-linear-gradient(-45deg, rgba(36, 36, 36, 1) 0%, rgba(36, 36, 36, 1) 50%, rgba(40, 41, 41, 1) 50%, rgba(40, 41, 41, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 36, 36, 1)), color-stop(50%, rgba(36, 36, 36, 1)), color-stop(50%, rgba(40, 41, 41, 1)), color-stop(100%, rgba(40, 41, 41, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(36, 36, 36, 1) 0%, rgba(36, 36, 36, 1) 50%, rgba(40, 41, 41, 1) 50%, rgba(40, 41, 41, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(36, 36, 36, 1) 0%, rgba(36, 36, 36, 1) 50%, rgba(40, 41, 41, 1) 50%, rgba(40, 41, 41, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(36, 36, 36, 1) 0%, rgba(36, 36, 36, 1) 50%, rgba(40, 41, 41, 1) 50%, rgba(40, 41, 41, 1) 100%);
    background: linear-gradient(166deg, rgba(36, 36, 36, 1) 0%, rgba(36, 36, 36, 1) 50%, rgba(40, 41, 41, 1) 50%, rgba(40, 41, 41, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#282929', GradientType=1);*/
    color: #fff;
}

.solutions h1 {
    font-size: 28px;
}

.solutions .row {
    margin-top: 30px;
}

.solutions ul {
    padding-left: 0;
    list-style: none;
}

.solutions ul li {
    padding: 20px 0px;
}

.solutions ul li span {
    padding-right: 15px;
}


/********** Products ********/

.products {
    padding: 50px 0px;
    background: url('../images/product_bg.png') center;
    text-align: center;
}

.products h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.products span {
    margin-bottom: 30px;
    display: block;
}

.products .product_slider {
    position: relative;
    padding-top: 45px;
}

.products .product_slider .product_box {
    background: #fff;
    border-radius: 15px;
    margin: 0px 15px;
    transition-duration: 0.6s;
    display: block;
}

.products .product_slider .product_box:hover {
    box-shadow: 1px 1px 13px 4px rgba(204, 204, 204, 0.45);
    transition-duration: 0.6s;
}

.products .product_slider .product_box h4 {
    font-size: 14px;
    padding: 10px 0px;
}

.products .product_slider .product_box img {
    max-width: 100%;
}

.products .product_slider .customNavigation {
    position: absolute;
    top: 0;
    right: 0;
}

.products .product_slider .customNavigation span {
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    background: #fff;
    color: #f07a82;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 7px 10px rgba(204, 204, 204, 0.45);
}

.products .product_slider .customNavigation span:hover {
    color: #e30c1c;
}

.products .product_slider .customNavigation .next,
.products .product_slider .customNavigation .prev {
    float: left;
    padding: 0px 5px;
}

.products a {
    /*padding: 15px 25px;
    border: 1px solid #e30c1c;*/
    color: #e30c1c;
    transition-duration: 0.6s;
}

.products a:hover {
    color: #e30c1c;
    background: #e30c1c;
    transition-duration: 0.6s;
}


/**** Dealing with **********/

.dealing_with {
    padding: 25px 0px;
    background: #7d7d7d;
    cursor: move;
}

.dealing_with img {
    max-width: 100%;
}


/******** Footer ******/

footer {
    padding-top: 30px;
    text-align: center;
}

footer .ft_logo {
    width: 240px;
    margin: 0 auto;
}

footer .ft_logo img {
    max-width: 100%;
}

footer .ft_adrs {
    padding: 10px 0px;
}

footer .ft_adrs p {
    color: #000;
}

footer .ft_adrs a {
    color: #000;
    font-size: 14px;
}

footer .ft_adrs a span i {
    padding-right: 10px;
}

footer .ft_adrs a span {
    margin-left: 15px;
    font-size: 18px;
}

.social_media {
    margin-top: 20px;
}

.social_media a span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #000;
    display: inline-block;
    font-size: 20px;
    color: #000;
    transition-duration: 0.6s;
    margin: 0px 10px;
}

.social_media a span:hover {
    background: #e30c1c;
    color: #fff;
    border: 1px solid #e30c1c;
    transition-duration: 0.6s;
}

footer .copy {
    margin-top: 30px;
}

footer .copy p {
    float: left;
    margin-bottom: 0;
}

footer .copy span {
    float: right;
}


.mobile{
    display: none;
}

/****** Feedback ******/

.feed_back{
}
.feed_back span.spn{
    position: fixed;
    right: 30px;
    top: 500px;
    z-index: 999999;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: #d60000;
    display: block;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    transition-duration: 0.6s;
}
.feed_back span.spn:hover{
    background: #be0000;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.45);
    transition-duration: 0.6s;
}
.feed_back span.spn img{
    max-width: 100%;
}
.feed_back .close{
    display: none;
}

.wrap {
  position: fixed;
  overflow: hidden;
  top: 20%;
  right: 10%;
  bottom: 85px;
  left: 50%;
  padding: 20px 50px;
  display: block;
  border-radius: 4px;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
    z-index: 9999;
}
.wrap .content {
  opacity: 0;
}
.wrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}
.wrap.active:before {
  height: 2000px;
  width: 2000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active .content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.feed_back .wrap{
    
}
.feed_back .wrap input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    padding-left: 8px;
}
.feed_back .wrap textarea{
    width: 100%;
    height: 110px;
    margin-top: 15px;
    padding-left: 8px;
}
.feed_back .wrap  button{
    width: 110px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.hm_banner {
    position: relative;
}
.hm_banner .owl-buttons {
    position: absolute;
    z-index: 9999;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -26px;
}
.hm_banner .owl-prev,
.hm_banner .owl-next{
    cursor: pointer;
    font-size: 26px;
    color: #d60000;
    background: white;
    /* width: 30px; */
    padding: 5px 10px;
    border: 2px solid;
    transition-duration: 0.6s;
}
.hm_banner .owl-prev {
    float: left;
    margin-left: 15px;
}
.hm_banner .owl-next {
    float: right;
    margin-right: 15px;
}
.hm_banner .owl-prev:hover,
.hm_banner .owl-next:hover{
    background: #d60000;
    color: #fff;
    transition-duration: 0.6s;
}














/********** Scroll Style ************/

.scroll {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #2f2f2f;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #d60000;
}


@media only screen and (max-width:991px){
    .nav_bar .logo{
        float: none;
        margin: 0 auto;
        margin-top: 15px;
    }
    .nav_bar .top_contact{
        position: static;
        margin: 0 auto;
        text-align: center;
        margin: 10px 0px;
    }
    .nav_bar .main_nav{
        float: none;
        margin-top: 20px;
        text-align: center;
    }
    .banner{
        height: 350px;
    }
    #particles-js .up_shape{
        height: 350px;
    }
    #particles-js .shapes img{
        height: 350px;
    }
    #particles-js .dwn_shape{
        top: 0;
    }
}


@media only screen and (max-width:767px){
    .who_we_are{
        padding: 30px 0px;
    }
    .who_we_are .who_we a{
        float: none;
    }
    .who_we_are .make_deffrents .icon_box{
        width: 31.333333%;
        margin-left: 10px;
        float: left;
    }
    .dealing_with{
        text-align: center;
        padding: 20px 0px;
    }
    .dealing_with img{
        margin-top: 15px;
    }
    footer .copy span{
        float: none;
    }
    footer .copy p{
        float: none;
    }
    .mobile{
        display: block;
        background: #fff;
        z-index: 99999;
    }
    .main_nav{
        display: none;
    }
    .open{
        position: absolute;
        top: 95px;
        right: -15px;
        padding: 10px 5px;
        display: block;
        cursor: pointer;
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
    }
    .open span{
        width: 35px;
        right: 8px;
        background: #d60000;
    }
    .sub-menu{
        background-color: rgba(192, 5, 5, 0.7);
        top: 20px;
    }
    .oppenned span:nth-child(2){
        background-color: rgba(192, 5, 5, 0.7);
        width: 470px;
        height: 1092px;
    }
    .open span:nth-child(2){
        margin-top: 20px;
    }
    .open span:nth-child(3){
        margin-top: 30px;
    }
    .oppenned li{
        margin-right: 180px;
    }
    .oppenned span:nth-child(1){
        background: #fff;
    }
    .oppenned .sub-menu{
        width: 470px;
        height: auto;
    }

}
@media only screen and (max-width:545px){
    .who_we_are .make_deffrents .icon_box{
        width: 100%;
        margin-left: 0px;
        float: none;
        margin-top: 10px;
    }
    .what_we_do .companies{
        width: 100%;
        margin-top: 10px;
        float: none;
    }
    .nav_bar .logo{
        width: 200px;
    }
    .nav_bar .top_contact a span{
        font-size: 16px;
        width: 100%;
        display: block;
        margin-left: 0;
    }
    #particles-js .shapes{
        display: none;
    }
    #particles-js .caption{
        bottom: 0;
        top: 210px;
    }
    .who_we_are .who_we p{
        text-align: justify;
    }
    .who_we_are .make_deffrents{
        margin-top: 30px;
    }
    .solutions ul li{
        text-align: center;
    }
    .solutions ul li span{
        display: block;
        text-align: center;
        margin-bottom: 8px;
    }
    .solutions{
        padding: 30px 0px;
    }
    .solutions h1{
        text-align: center;
    }
    footer .ft_adrs a span{
        width: 100%;
        display: block;
    }
    .feed_back span{
        right: 20px;
        top: 370px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        line-height: 60px;
        /*right: 50%;
        left: 50%;*/
    }
    .wrap {
      position: fixed;
      overflow: hidden;    
      top: 10%;
      right: 10%;
      bottom: 15px;
      left: 10%;
      padding: 20px 50px;
      display: block;
      border-radius: 4px;
      transform: translateY(20px);
      transition: all 0.5s;
      visibility: hidden;
      z-index: 9999;
    }
    .wrap h2{
        font-size: 22px;
    }
    .wrap.active{
        padding: 20px;
    }
    .owl-carousel  .owl-wrapper, .owl-carousel  .owl-item, .owl-carousel .owl-wrapper-outer, .owl-carousel, .banner, #particles-js{
            height: 300px;
    }
    .owl-carousel .owl-item img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #particles-js .caption {
        bottm: auto;
        top: 85px;
        width: 100%;
        text-align: center;
        right: 0;
    }
    #particles-js .caption h3,
    #particles-js .caption h1{
        font-size:24px;
    }
}

/* CSS used here will be applied after bootstrap.css */

.nav_bar .main_nav .submenu{
    display: none;
    position: absolute;
    width: 100%;
    background: #fff;
    left: 0;
}
.nav_bar .main_nav .submenu li{
    display: list-item;
    list-style: none;
}
.nav_bar .main_nav .submenu li a{
    
}

#ddmenu .dd-inner .row .col-lg-3{
    /*width: 20%;
    padding: 0px 5px;*/
}
#ddmenu .dd-inner .row .col-lg-4{
    /*width: 25%;*/
}
#ddmenu .dd-inner hr{
    margin: 0;
}

.owl-carousel .owl-item img{
    max-width: 100%;
    width: 100%;
}
.inner .owl-carousel{
    box-shadow: 0px 3px 20px 3px #ccc;
    margin-top: 20px;
}



.inner_secnd .heading_tab{
    background: #fff;
}
.inner_secnd .heading_tab h1{
    color: rgba(36, 36, 36, 1);
    margin: 0;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
.inner_secnd .heading_tab span{
    width: 100px;
    display: inline-block;
}
.inner_secnd .heading_tab span img{
    max-width: 100%;
}
.heading_tab{
    background: #e7e7e7;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#282929', GradientType=1);
    color: #000;
    padding: 30px 0px;
    text-align: center;
}
.heading_tab .head_row{
    background: url('../images/row_red.jpg') center no-repeat;
    text-align: center;
}
.heading_tab .head_row h1{
    background: #e7e7e7;
    padding: 0px 20px;
    display: inline-block;
    margin: 0;
}
.heading_tab span{
    width: 240px;
    display: inline-block;
}
.heading_tab span img{
    max-width: 100%;
}
.inner_about{
    background: #fff;
    padding: 50px 0px;
    background: #d60000;
}
.inner_about .content{
    /*border: 1px solid #d60000;*/
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    color: #fff;
}
.inner_about .content p{
    line-height: 28px;
}
.inner .banner{
    height: 445px;
}
.inner_cat{
    padding: 50px 0px;
    color: #fff;
}
.inner_cat_bx{
    margin-top: 20px;
    position: relative;
    border: 1px solid #3a3a3a;
}
.inner_cat_bx a .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.85);
    color: #fff;
    opacity: 0;
    transition-duration: 0.5s;
}
.inner_cat_bx a .overlay h2{
    font-size: 18px;
}
.inner_cat_bx a:hover .overlay{
    opacity: 1;
    transition-duration: 0.5s;
}
.inner_cat_bx a .overlay span{
    display: block;
    font-size: 28px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #d60000;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 70px;
}
.inner_cat_bx img{
    max-width: 100%;
}


.inner .owl-buttons{
    position: absolute;
    top: 200px;
    width: 100%;
}
.inner .owl-prev{
    float: left;
    cursor: pointer;
    font-size: 26px;
    color: #d60000;
    background: white;
    /* width: 30px; */
    padding: 5px 10px;
    border: 2px solid;
    transition-duration: 0.6s;
}
.inner .owl-prev:hover,
.inner .owl-next:hover{
    background: #d60000;
    color: #fff;
    transition-duration: 0.6s;
}
.inner .owl-next{
        float: right;
    cursor: pointer;
    font-size: 26px;
    color: #d60000;
    background: white;
    /* width: 30px; */
    padding: 5px 10px;
    border: 2px solid;
    transition-duration: 0.6s;
}
.product_details{
     padding: 30px 0px;
}
.product_details img{
    max-width: 100%;
}
.product_details h1{
    color: #d60000;
}

.bottom_row{
    background: #e7e7e7;
    width: 100%;
    height: 40px;
}


.affix {
      top: 0;
      width: 100%;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      /*background-color: #F44336;
      border-color: #F44336;*/

  }
  .affix a {
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
.affix .nav_bar .logo{
    width: 240px;
    -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
}
.affix .nav_bar .top_contact{
    display: none;
    -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
}
.affix .nav_bar .main_nav{
    margin-top: 25px;
    -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
}


.navbar-inverse{
    background: #fff;
    border: none;
}
.padded{
    margin-top: 100px;
}

.detail_of_product{
    margin-top: 70px;
}
.detail_of_product .tab-content{
    line-height: 26px;
}
.detail_of_product .nav-tabs>li>a{
    color: #d60000;
}
.detail_of_product .nav-tabs>li.active>a, 
.detail_of_product .nav-tabs>li.active>a:focus, 
.detail_of_product .nav-tabs>li.active>a:hover{
    background: #d60000;
    color: #fff;
}
.detail_of_product .tab-content h3{
    font-weight: 600;
    margin-bottom: 30px;
}

#owl-demo2 .item{
    padding: 0px 40px;
}
nav.pagination a{
    color: #FFF;
    background-color: #c50101;
    padding: 3px 0px;
    min-width: 30px;
    border-radius: 3px;
    text-align: center;
    display: block;
    float: left;
    margin: 0px 3px;
}
nav.pagination a.prev i{
    font-size: 34px;
}
nav.pagination span{
    color: #FFF;
    background-color: #000;
    padding: 3px 0px;
    min-width: 30px;
    text-align: center;
    border-radius: 3px;
    float: left;
    display: block;
    margin: 0px 3px;
}
nav.pagination a:first-child{
    margin-left: 0px;
}
.contact_wrapper {
    margin-top: 60px;
}
.contact_form {
    margin-top: 30px;
}
.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f7f7f7;
    border: none;
}
.contact_form input[type="text"],
.contact_form input[type="email"] {
    height: 50px;
}
.contact_form textarea {
    padding: 10px;
    min-height: 120px;
    max-height: 120px;
    min-width: 100%;
    max-width: 100%;
}
.contact_form input[type="submit"] {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    background-color: #d60000;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.contact_form input[type="submit"]:hover {
    background-color: #b40707;
}
.contact_head h3 {
    margin-top: 0;
}
.contact_head span {
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #d60000;
    margin-bottom: 20px;
}
.contact_aside {
    padding: 20px;
    background-color: #f7f7f7;
}
#gmap {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
.contact_row {
    margin-bottom: 10px;
}
.contact_row .fa {
    font-size: 21px;
    color: #333;
    margin-right: 10px;
    vertical-align: middle;
}
.contact_row a {
    color: #333;
}
.contact_row a:hover {
    color: #d60000;
}
.about_wrap {
    margin-top: 30px;
}
.about_head {
    margin-top: 0;
    font-weight: bold;
}
.about_head h1 span {
    color: #d60000;
}
.about_caption {
    color: #d60000;
}
.about_counter_wrapper {
    background: url("../images/slide-v1-2.jpg") no-repeat fixed;
    margin: 30px auto;
}
.about_counter_inner {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.counter {
    display: inline-block;
    color: #d60000;
    margin: 0 15px;
}
.counter_num  {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 3px solid #d60000;
    border-radius: 50%;
    font-size: 18px;
}
.what_we_do_wrapper {
    margin: 30px 0;
}
.what_we_do_box {
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
    position: relative;
    padding: 15px;
}
.what_we_do_border_1 {
    width: 100%;
    height: 3px;
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.what_we_do_border {
    width: 0;
    height: 3px;
    background-color: #d60000;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.what_we_do_box:hover .what_we_do_border {
    width: 100%;
}
.what_we_do_box h3 {
    margin-top: 0;
}
.what_we_do_box h3 a {
    color: #333;
}
.what_we_do_box .read_more a {
    color: #d60000;
}
.brochure_lnk {
    margin: 15px 0;
}
.brochure_lnk a {
    display: inline-block;
    padding: 7px 15px;
    background-color: #d60000;
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.brochure_lnk a:hover {
    background-color: #b00505;
    color: #FFF;
    text-decoration: none;
}
.brochure_lnk a i {
    margin-right: 10px;
    font-size: 21px;
    vertical-align: middle;
}
.service_header {
    margin-top: 40px;
}
.service_box {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    margin-top: 15px;
}
.service_box_img img {
    max-width: 100%;
    margin: 0 auto;
}
.service_box_title a {
    color: #000;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.service_box_title a:hover {
    color: #b00505;
    text-decoration: none;
}
.service_box_lnk {
    margin-top: 15px;
}
.service_box_lnk a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d60000;
    border-radius: 20px;
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.service_box_lnk a:hover {
    background-color: #b00505;
    color: #FFF;
    text-decoration: none;
}
.solution_dets {
    margin-top: 30px;
}
.solution_form_wrapper {
    padding: 15px;
    background-color: #f7f7f7;
}
.solution_form input[type="text"],
.solution_form input[type="email"],
.solution_form textarea {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFF;
    border: none;
}
.solution_form input[type="text"],
.solution_form input[type="email"] {
    height: 50px;
}
.solution_form textarea {
    padding: 10px;
    min-height: 120px;
    max-height: 120px;
    min-width: 100%;
    max-width: 100%;
}
.solution_form input[type="submit"] {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    background-color: #d60000;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.solution_form input[type="submit"]:hover {
    background-color: #b40707;
}
.product_details h1 {
    margin-top: 0;
}
.blog_wrapper {
    margin-top: 40px;
}
.blog_item {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f9f9f9;
}
.blog_item_head a {
    color: #333;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.blog_item_head a:hover {
    color: #d60000;
}
.blog_tag_line {
    margin-bottom: 10px;
}
.blog_item_lnk {
    margin-top: 20px;
}
.blog_item_lnk a {
    display: inline-block;
    padding: 7px 30px;
    background-color: #d60000;
    color: #FFF;
    text-transform: uppercase;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.blog_item_lnk a:hover {
    color: #FFF;
    background-color: #b40707;
}
.featured_post {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    padding: 8px;
    color: #000;
    border-bottom: 1px solid #e9e9e9;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.featured_post:hover {
    color: #d60000;
}
.featured_post_img {
    width: 100px;
    margin-right: 10px;
}
.featured_post_img img {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.featured_post:hover img {
    opacity: 0.7;
}
.featured_post_det {
    flex-grow: 1;
}
.featured_post_det h4 {
    margin-top: 0;
}
.featured_post_head {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: #e9e7e7;
    color: #000;
}
.blog_single_head {
    margin-top: 0;
}
.blog_single_image {
    margin: 15px 0;
}
.hm_solutions a {
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.hm_solutions a:hover {
    color: #d60000;
    text-decoration: none;
}
.mobile_sub {
    margin: 0;
}
.mobile_sub li {
    margin-top: 0 !important;
    margin-right: 0 !important;
}
.mobile li h3 {
    text-align: right;
}
.inner_cat_bx h2 {
    padding: 5px 10px;
    color: #d60000;
    font-size: 18px;
    background-color: #e9e9e9;
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
}
.solutions_menu h3 {border-bottom:none !important}