/*font-family: 'Roboto Condensed', sans-serif;
*/
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #474747;
	background: #FFF;
}
a {
	text-decoration: none !important;
	outline: none !important;
}
.clearer {
	clear: both;
}
/*.bg{ background:url(../bg.jpg) center top no-repeat; height:1771px;}*/

#headermain {
	width: 100%;
	padding: 0;
	background: #000;
	/*background-color: rgba(0, 0, 0, 0.82);*/
	background-color: #2a2a2a;
	position: absolute;
	z-index: 99;
	top: 0;
}
@media only screen and (min-width: 768px){
	.content{
		margin-top: 100px;
	}
	.innerarea{
		margin-top: 100px;
	}
}
.headerright {
	padding: 35px 0;
}
.logo {
	width: 214px;
	height: 60px;
	background: url(../img/logo.png) center top no-repeat;
	background-size: contain;
	display: block;
	margin-top: 12px;
	float: left;
}
.headerleft {
	position: relative;
	z-index: 22;
}
#bannermain {
	position: relative;
}
#navigation {
	padding: 35px 0px;
	float: left;
	margin-left: 80px;
}
.navbar {
	min-height: 0;
	margin-bottom: 0px;
	border: none;
	border-radius: 0;
}
#navigation .navbar-nav>li>a {
	padding: 0 30px 0 0;
	font-weight: 700;
	font-size: 19px;
	text-transform: uppercase;
	color: #FFF;
}
#navigation .navbar-nav>li>a:hover, #navigation .navbar-nav>li>a:focus {
	background: none;
}
.navbar-collapse {
	padding: 0;
}
.headermsg, .headermob {
	font-weight: 300;
	font-size: 16px;
	color: #d2d2d2;
	float: left;
	width: 178px;
	display: inline-block;
	float: right;
	background-position: left center;
	margin-left: 10px;
	padding-left: 28px;
}
.headermsg {
	background: url(../img/msg.png) left 3px no-repeat;
}
.headermsg a {
	color: #d2d2d2;
}
.headermsg a:hover, .headermsg a:focus {
	color: #FFF;
}
.headermob {
	background: url(../img/mob.png) no-repeat;
}
#homeservicelinkarea {
	position: relative;
	width: 100%;
	margin-bottom: 70px;
}
#homeservicelinkarea ul {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 999;
	width: 100%;
	top: -70px;
	margin-bottom: 70px;
}
#homeservicelinkarea li {
	width: 24.6%;
	margin-right: 6px;
	float: left;
	display: block;
	text-align: center;
	background: #1588ec;
}
#homeservicelinkarea li:last-child {
	margin: 0;
}
#homeservicelinkarea li a {
	display: block;
	padding: 35px 0;
	text-transform: uppercase;
	font-size: 19px;
	color: #FFF;
}
.servicewhiteicon1, .servicewhiteicon2, .servicewhiteicon3, .servicewhiteicon4 {
	display: block;
	width: 100%;
	height: 38px;
	text-align: center;
	margin-bottom: 12px;
	background-position: center top;
}
.servicewhiteicon1 {
	background: url(../img/serviceslidericon1.png) center top no-repeat;
}
.servicewhiteicon2 {
	background: url(../img/serviceslidericon2.png) center top no-repeat;
}
.servicewhiteicon3 {
	background: url(../img/serviceslidericon3.png) center top no-repeat;
}
.servicewhiteicon4 {
	background: url(../img/serviceslidericon4.png) center top no-repeat;
}
.darkbluebg {
	background: #1072c7 !important;
}
/*.lightgraybg{ background:#ebecee !important;}*/
.welcomearea {
	padding: 75px 40px;
}
.welcomeareaimg {
}
.welcometexarea {
	padding-left: 45px;
	padding-top: 16px;
}
.welcometexarea h3, .welcometexarea h2, .innerarea h3 {
	font-size: 33px;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
}
.welcometexarea h3, .innerarea h3 {
	font-weight: 300;
	margin-bottom: 12px;
}
.welcometexarea h2 {
	font-weight: 700;
	margin-bottom: 20px;
}
.welcometexarea p, .welcometexarea .more {
	font-weight: 400;
	margin-bottom: 16px;
	line-height: 26px;
	color: #313131;
	margin-bottom: 6px;
}
.welcometexarea .more {
	text-align: right;
	color: #02457f;
	display: inline-block;
	width: 100%;
	padding-right: 38px;
}
.welcometexarea .more a {
	color: #02457f;
}
.homeservicearea {
	width: 100%;
	background: #ebecee;
}
.homeservicearea ul {
	padding: 0;
	margin: 0;
}
.homeservicearea li {
	list-style: none;
	width: 50%;
	display: inline-block;
	float: left;
	padding: 50px;
}
.homeservicearea .media-heading {
	font-weight: 700;
	font-size: 19px;
	text-transform: uppercase;
	color: #1a1a1a;
	margin-top: 0;
	margin-bottom: 10px;
}
.homeservicearea .media-heading a{color: #1a1a1a;}
.homeservicearea .media-heading a:hover,.homeservicearea .media-heading a:focus{color: #1072c7;}
.homeservicearea li:first-child, .homeservicearea li:last-child {
	background: #dfe1e4;
}
.homeservicearea .media-left {
	padding-top: 20px;
}
.homeservicearea .media-body {
	padding-left: 25px;
}
.homeservicearea .media-body p {
	font-weight: 400;
	font-size: 15px;
	color: #363636;
	line-height: 24px;
}
#brands {
	text-align: center;
}
#brands .item {
	padding: 55px 0px;
}
.brandsimg {
	border-right: 1px solid #b7b7b7;
}
.owl-carousel .owl-stage-outer {
	width: 99%;
}
#footermain {
	padding: 38px 0;
	background: #1072c7;
}
.footeraddress, .copyright {
	font-size: 15px;
	color: #FFF;
	font-weight: 300;
	line-height: 21px;
	width: 100%;
}
.copyright p {
	margin: 0;
}
.footeraddress a {
	color: #FFF;
}
.footeraddress a:hover {
	color: #b9ddfc;
}
#foootermain ul.social {
	margin: 0;
	padding: 0;
	text-align: right;
	margin-top: 16px;
}
#footermain .list-inline.social {
	text-align: right;
	padding-top: 7px;
}
#footermain ul.social > li {
	padding: 0;
	border-radius: 10px;
}
#footermain ul.social > li a {
	padding: 0px 1px;
	display: inline-block;
	width: 26px;
	height: 26px;
}
#footermain ul.social .fb {
	background: url(../img/footersocial.png) left top no-repeat;
}
#footermain ul.social .fb:hover {
	background-position: left bottom;
}
#footermain ul.social .gplus {
	background: url(../img/footersocial.png) -33px top no-repeat;
}
#footermain ul.social .gplus:hover {
	background-position: -33px bottom;
}
#footermain ul.social .twt {
	background: url(../img/footersocial.png) right top no-repeat;
}
#footermain ul.social .twt:hover {
	background-position: right bottom;
}
.copyright {
	padding: 25px 0;
	text-align: center;
	background: #0e6bbb;
}
.powered {
}
.poweredlogo {
	width: 54px;
	height: 29px;
	background: url(../img/powerdelogo.png) center top no-repeat;
	display: inline-block;
	position: relative;
	z-index: 11;
	bottom: -4px;
	margin-left: 5px;
}
#enquirymain {
	width: 280px;
	position: fixed;
	z-index: 999;
	right: -280px;
	top: 250px;
	background: #ebebeb;
	padding: 20px;
	border: 1px solid #DEDADA;
	border-right: 0;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
-0-transition-duration:.5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}
#enquirymain.open {
	right: 0;
}
.enquirybtn {
	width: 160px;
	height: 73px;
	position: absolute;
	z-index: 9999;
	background: #1588ec;
	left: -160px;
	cursor: pointer;
	top: 0px;
}
.phoneicon {
	width: 65px;
	height: 100%;
	background: #1072c7 url(../img/phoneicon.png) center center no-repeat;
	display: inline-block;
	float: left;
}
.enquirybtn h4 {
	float: left;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
	padding: 5px 0px 0px 10px;
}
#enquirymain {
}
.enquiryform .form-control {
	border-radius: 0px;
	background: #FFFFFF;
	width: 100%;
	height: 30px;
	border: 1px solid #d1d1d1;
	padding: 0px 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 13px;
}
.enquiryform .form-control2 {
	border-radius: 0px;
	background: #FFF;
	width: 99.8%;
	height: 100px;
	margin-top: 0x;
	border: 1px solid #d1d1d1;
	padding: 10px;
	margin-bottom: 0px;
}
.enquiryform .submit .btn {
	border-radius: 0!important;
	background: #1072c7;
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	padding: 5px 30px;
	text-transform: uppercase;
}
.enquiryform .form-group {
	margin-bottom: 9px;
}
div#headermain .white-area {
	content: "";
	position: absolute;
	z-index: 1;
	background-color: #fff;
	height: 100%;
	top: 0;
	width: 22.5%;
}
div#headermain .white-area img {
	left: 100%;
	position: absolute;
	bottom: 0;
	height: 100%;
}
.logobox {
	position: relative;
	z-index: 22;
}
/*--------------- innerpage ---------------*/
.innerarea {
	padding: 40px 0px;
}
.innerarea h3 {
	margin-bottom: 10px;
	font-weight: 700;
}
#addressarea {
	width: 100%;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 40px;
}
#addressarea h4 {
	font-size: 30px;
	font-weight: 300;
	color: #000000;
	margin-bottom: 15px !important;
}
#addressarea p {
	font-weight: 300;
	color: #000000;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 0px;
	padding: 0;
}
#addressarea a {
	color: #000;
}
#addressarea a:hover {
	color: #1072c7;
}
#addressarea ul.social > li {
	padding: 0;
}
#addressarea ul.social > li a {
	padding: 0px 1px;
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 2px;
}
#addressarea ul.social .fb {
	background: url(../img/socialicons.png) left top no-repeat;
}
#addressarea ul.social .fb:hover {
	background-position: bottom left;
}
#addressarea ul.social .twt {
	background: url(../img/socialicons.png) -41px top no-repeat;
}
#addressarea ul.social .twt:hover {
	background-position: -41px bottom;
}
#addressarea ul.social .gplus {
	background: url(../img/socialicons.png) right top no-repeat;
}
#addressarea ul.social .gplus:hover {
	background-position: right bottom;
}
.contactform {
	width: 100%;
	padding-top: 40px;
}
.contactform .label {
	font-weight: 400;
	font-size: 15px;
	color: #000000;
	padding: 0px!important;
	margin-bottom: 5px;
}
.contactform .form-control, .contactform .form-control2 {
	border-radius: 0px;
	background: #FFF;
	margin-top: 4px;
	border: 1px solid #d1d1d1;
	padding: 10px;
	font-weight: 400;
	font-size: 15px;
	color: #5C5C5C;
}
.contactform .form-control {
	width: 95%;
	height: 47px;
	margin-bottom: 18px;
}
.contactform .form-control2 {
	width: 99.8%;
	height: 155px;
}
.contactform .submit {
	height: 154px;
}
.contactform .submit .btn {
	border-radius: 0 !important;
	background: #1072c7;
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	padding: 12px 50px;
	text-transform: uppercase;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.contactform .submit .btn:hover {
	background: #1588ec;
}
.contactform .form-group {
	margin-bottom: 17px;
}
#map {
	width: 100%;
	height: 250px;
}
/* Flexible iFrame */

.Flexible-container {
	position: relative;
	padding-bottom: 0;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	height: 250px;
}
.Flexible-container iframe, .Flexible-container object, .Flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 250px;
}
.innerarea p, .service li {
	font-size: 16px;
	color: #313131;
	line-height: 26px;
	font-weight: 400;
}
.aboutbtm {
	margin-top: 30px;
}
#service h6 {
	font-size: 17px;
	color: #000;
	line-height: 25px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0;
}
#service ul {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	margin-top: 15px;
}
#service li {
	list-style: none;
	display: inline-block;
	width: 33.33%;
	background: url(../img/point.png) left 4px no-repeat;
	padding-left: 30px;
	float: left;
	margin-bottom: 10px;
}
.smartoffice ul, .smesolution ul {
	margin-top: 20px !important;
}
.smartoffice li, .smesolution li {
	width: 50% !important;
}

/*--------------- innerpage ---------------*/  
  
@media(min-width:992px) {
#headermain .col-sm-3 {
	padding-left: 0;
}
.aboutimg1 {
	margin-top: -42px;
}
.innerarea p {
	padding-right: 50px;
}
}

@media screen and (max-width: 1200px) {
#homeservicelinkarea li {
	width: 24.5%;
}
/*.headermsg, .headermob {
	width: 43%;
}*/
div#headermain .white-area {
	width: 27% !important;
}
}

@media screen and (max-width: 992px) {
#homeservicelinkarea li {
	width: 24.3%;
}
#homeservicelinkarea li a {
	padding: 30px 0;
	font-size: 17px;
}
.headermsg, .headermob {
	/*width: 26%;*/
	float: left;
	margin-left: 0;
	margin-top: 15px;
}
.logo {
	width: 180px;
	height: 51px;
}
#headermain .container {
	position: relative;
}
.headerright {
	position: absolute;
	right: 0;
	z-index: 11;
	padding: 0;
	background: #000;
	padding: 10px 20px;
	width: 42%;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.82);
}
.headermsg, .headermob {
	/*width: 50%;*/
	margin-top: 0;
}
div#headermain .white-area {
	width: 32% !important;
}
#navigation {
	margin-left: 130px;
}
}

@media screen and (max-width: 768px) {
#headermain {
	position: relative;
	background: #000;
}
#navigation {
	width: 100%;
	margin: 0;
	position: absolute;
	padding: 0;
	top: 1.4em;
	right: 0;
}
.navbar-toggle {
	border: 1px solid #FFF;
	margin-top: 10px;
	margin-right: 20px;
	z-index: 999;
}
.navbar-toggle .icon-bar {
	background: #FFF;
}
.navbar-nav > li > a {
	padding: 15px 20px !important;
	margin: 0;
	border-left: 0;
	border-bottom: solid 1px #212121;
	text-align: left;
	font-weight: 400 !important;
	font-size: 17px !important;
}
.navbar-nav >li> a:hover {
	background: #212121 !important;
}
.navbar-nav .open .dropdown-menu>li>a {
	padding: 10px 15px 10px 35px;
}
.dropdown-menu>li>a:hover {
	background: #307618;
}
.navbar-nav {
	margin: 0;
}
.navbar-nav > li:last-child a {
	border: none;
}
.navbar-collapse {
	padding: 0;
	position: absolute;
	background: #000;
	z-index: 99999;
	width: 100%;
}
#homeservicelinkarea ul {
	position: relative;
	top: 0;
	margin-top: 15px;
	margin-bottom: 0px;
	z-index: 10;
}
#homeservicelinkarea li {
	width: 24.2%;
}
#homeservicelinkarea li a {
	padding: 25px 10px;
	font-size: 15px;
	min-height: 142px;
}
#homeservicelinkarea {
	margin-bottom: 10px;
}
.welcomearea {
	padding: 35px 10px;
	text-align: center;
}
.welcometexarea {
	padding-left: 0;
}
.welcometexarea .more {
	text-align: center;
	padding: 0;
}
.welcomeareaimg {
	margin: 0 auto;
}
.homeservicearea li {
	width: 100%;
}
.homeservicearea li:last-child {
	background: none;
}
.homeservicearea li:nth-child(3) {
	background: #dfe1e4;
}
#footermain, .list-inline.social {
	text-align: center;
}
.footeraddress {
	padding: 15px 0px;
}
.headerright {
	display: none;
}
.logo {
	margin-bottom: 20px;
}
.innerarea h3, .innerarea p {
	text-align: center;
}
.aboutimg1, .aboutimg2 {
	margin: 0 auto;
}
.aboutbtm {
	margin-top: 40px;
}
#footermain .list-inline.social {
	text-align: center;
}
.serviceimg {
	margin: 0 auto 25px auto;
}
#addressarea .social {
	margin-top: 15px;
}
div#headermain .white-area {
	width: 39% !important;
}
#service li {
	width: 50%;
}
}

@media screen and (max-width: 620px) {
#homeservicelinkarea li {
	width: 48.9%;
	margin-bottom: 6px;
}
#homeservicelinkarea li:nth-child(2) {
	margin-right: 0;
}
/*.headermsg, .headermob {
	width: 36%;
}*/

}

@media screen and (max-width: 480px) {
.homeservicearea li {
	padding: 20px;
}
.media-left, .media-right, .media-body {
	display: block;
	text-align: center;
}
.homeservicearea .media-body {
	padding-left: 0px;
	margin-top: 25px;
}
.welcometexarea h3 {
	font-size: 26px;
	margin-bottom: 4px;
}
.welcometexarea h2 {
	font-size: 27px;
	margin-bottom: 10px;
}
.welcometexarea p, .innerarea p {
	line-height: 24px;
	margin-bottom: 6px;
	font-size: 15px;
}
/*.headermsg, .headermob {
	width: 90%;
}*/
.headermob {
	margin-top: 7px;
}
/*.navbar-toggle {
	right: -25px;
}*/
div#headermain .white-area {
	width: 52% !important;
}
.innerarea h3 {
	font-size: 30px;
}
}

@media screen and (max-width: 350px) {
#homeservicelinkarea li {
	width: 48.8%;
}
div#headermain .white-area {
	width: 57% !important;
}
.innerarea h3 {
	font-size: 27px;
}
.innerarea {
	padding: 30px 0px;
}
#homeservicelinkarea li a {
	min-height: 143px;
}
}
.product_box{
	float: left;
	width: 16.66666667%;;	
	padding: 5px;
	margin: 15px 0px;
	cursor: pointer;
}
.product_inner{
	border: 1px solid #0e6bbb;
	position: relative;
}
.product_box img{
	width: 100%;	
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.product_box h3{
	margin: 0px;
	background-color: #0e6bbb;
	color: #FFF;
	padding: 6px 0px;
	text-align: center;
	font-size: 16px;
	min-height: 55px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.pro_section{
	margin-top: 80px;
	margin-bottom: 30px;
	width: 100%;
}
.pro_head{
	text-align: center;
}
.pro_head_inner{
	display: inline-block;
	width: 400px;
	background: url(../img/border_solid.png) center no-repeat;
}
.pro_head h3{
	font-size: 21px;
	padding: 0px 15px;
	background-color: #FFF;
	display: inline-block;
	margin: 0px;
}
.zoom_box{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5) url(../img/zoom.png) no-repeat center;
	opacity: 0;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.product_box:hover .zoom_box{
	opacity: 1;
}
.product_box:hover img{
	-webkit-transform:scale(1.09); /* Safari and Chrome */
    -moz-transform:scale(1.09); /* Firefox */
    -ms-transform:scale(1.09); /* IE 9 */
    -o-transform:scale(1.09); /* Opera */
     transform:scale(1.09);
}
.pro_img_box{
	overflow: hidden;
}
.bd_clear{
	clear: both;
}
.product_trigger{
	display: none;
}
.pro_pop_img{
	max-width: 100%;
}
.header_fix{
	position: relative !important;
	border-bottom: 1px solid #333;
}
.enquiry_trigger{
	position: absolute;
	display: block;
	width:100%;
	text-align: center;
	padding:5px 0px;
	bottom:0px;
	left:0px;
	background-color:rgba(0, 0, 0, 0.7);
	color:#FFF;
	z-index:999;	
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 0;
}
.product_box:hover .enquiry_trigger{
	opacity: 1;
}
.form_block{
	margin: 10px 0px;
}





h3.feat_head{
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	color: #627682;	
	text-align: center;
	background: url(../img/feat_head.png) no-repeat center;
	line-height: 51px;
	margin: 30px auto;
}
.hm_pro_box{
	float: left;
	width: 20%;
	padding: 0px 8px;
	text-align: center;
	margin: 8px 0px;
}
.hm_pro_img{
	position: relative;	
}
.hm_pro_img img{
	width: 100%;
}
.hm_pro_img a{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	background-color: rgba(0, 83, 155, 0.8);
	font-size: 17px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.hm_pro_img a span{
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	border: 1px solid #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
}
.hm_pro_img a:hover{
	opacity: 1;
}
.hm_pro_box h3{
	font-size: 17px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 0px;
}
ul.sub_nav{
	position: absolute;
	padding: 0px;
	margin: 0px;
	width: 500px;
	display: none;
	background-color: #2a2a2a;
}
ul.sub_nav li{
	list-style: none;
}
ul.sub_nav > li  a{
	text-transform: uppercase;
	color: #FFF;
	display: block;
	padding: 5px 0px;
}
ul.sub_nav > li  a:hover{
	color: #1072c7;
}
.sub_nava{
	float: left;
	padding: 15px;
}
.sub_navb{
	float: right;
	padding: 15px;
}
.sub_nava ul{
	margin: 0px;
	padding: 0px;
}
.sub_navb ul{
	margin: 0px;
	padding: 0px;
}



@media only screen and (min-width: 768px){
	#navigation .navbar-nav > li:hover .sub_nav{
		display: block;
	}	
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.hm_pro_box{
		width: 33.33333333%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.hm_pro_box{
		width: 33.33333333%;
	}
}
@media only screen and (max-width: 479px){
	.hm_pro_box{
		width: 100%;
		max-width: 290px;
		margin: 0 auto;
		float: none;
	}
}

@media only screen and (max-width: 767px){
	ul.sub_nav{
		display: block;
		position: static;
		width: 100%;
	}
	ul.sub_nav > li  a{
		color: #FFF;
		background-color: #333;
		padding: 8px 20px 8px 35px;
		
	}
	ul.sub_nav > li  a:hover{
		background-color:#2b2b2b;
		color:#FFF;		
	}
	.sub_nava, .sub_navb{
		float: none;
		padding: 0px;
	}
	#enquirymain{
		display: none;
	}
}














@media only screen and (min-width: 992px) and (max-width: 1199px){
	.product_box{
		width: 25%;
	}
	.hm_pro_box{
		width: 25%;		
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.product_box{
		width: 33.333%;
	}
}
@media only screen and (min-width: 480px) and (max-width:767px){
	.product_box{
		width: 50%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px){
	.product_box{
		width: 290px;
		float: none;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 320px){
	.product_box{
		width: 100%;
		float: none;
	}	
}
.category_head{
	text-align: center;		
}
.category_head h3{
	display: inline-block;
	padding-bottom: 15px;
	font-size: 21px;
	border-bottom: 1px solid #0e6bbb;
}


















