@charset "UTF-8";
table > tbody > tr > td img {
    width: 100%;
    max-width: 100px;
    min-width: 100px;
}
.image_upload_preview {
    max-width: 100%;
    margin-top: 15px;
}
.box-header {
    border-bottom: 1px solid #CCC;
}
.status {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.status-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.status-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.status-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.hidden_form {
    display: none;
}
.table_filters {
    float: left;
    margin-right: 10px;
}
.table_filters input[type="text"]{
    float: left;
    width: 120px;
    margin-right: 3px;
}
.table_filters select{
    float: left;
    width: 150px;
    margin-right: 3px;
}
.live_list {
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 999;
    display: none;
}
.live_list > li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #2e6da4;
    padding: 7px;
    position: relative;
    color: #FFF;
    border-bottom: 1px solid #1a5a92;
    cursor: pointer;
}
.live_list > li:last-child {
    border-bottom: none;
}
.live_list > li:hover {
    background-color: #337ab7;
}
.tool_tip {
    display: none;
    position: absolute;
    left: 100%;
    margin-left: 15px;
    background-color: #2e6da4;
    padding: 5px 7px;
    color: #FFF;
    border-radius: 5px;
    top: 0px;
    margin-top: 2px;
}
.tool_tip span {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -6px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right:10px solid #2e6da4;
}
.live_list > li:hover .tool_tip {
    display: block;
}
span.checkbox_label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
.loader_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none;
}
.loader_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}
.report_table_filters {
    float: none;
}
.table_filter_wrapper {
    float: right;
}
.report_table_filter_wrapper {
    float: right;
}
@media only screen and (max-width: 1199px) {
    .report_table_filter_wrapper {
        float: none;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .report_table_filters input[type="text"] {
        width: 100px;
    }
}
@media only screen and (max-width: 991px) {
    .report_table_filter_wrapper {
        margin-top: 0px;
    }
    .report_table_filters input[type="text"] {
        width: 100px;
        float: none;
        display: inline-block;
        margin: 5px 2px;
    }
}
@media only screen and (max-width: 480px) {
    .table_filter_wrapper {
        float: none;
        margin-top: 10px;
    }
}